<!DOCTYPE html>
<html>
<head>
<h1>Before you close your eyes</h1>
<h2>And fall asleep</h2>
<h3>I think I found someone who wants</h3>
<h4>Me for me</h4>
</head>
<body>
  <hr>
<pre>
 Searching for the antidote

 To lock away your tears

 You never knew

 It would take so many years

 Well I know there's an answer

 That grows

 Like a cancer

 Alongside

 Each lie that leaves your lips
</pre>

<%= link_to "Home", root_path %>
</body>
</html>
