<h1>Brass Knuckles</h1>

<body>
<p style="color:MediumSeaGreen">i like blue, so i became blue itself</p>
<br>
<p style="color:DodgerBlue"> green is my favorite color! </p>
<br>
<p style="color:Tomato"> tomato is a fruit </p>
<br>
<img src="https://secure.gravatar.com/avatar/4fcea8b05d8e2bed965b5171c66ef14b?s=150&d=wavatar&f=y" alt="Mountain View" style="width:304px;height:228px;">
<hr>
<%= link_to 'About', about_path %></br>
<%= link_to 'Test', test_path %></br>
<%= link_to 'Articles', articles_path %>

</body>
