<!DOCTYPE html>
<html>
<head>
<img src="https://scontent.fbfh4-1.fna.fbcdn.net/v/t1.0-9/22089377_501838106875109_7202937388867350280_n.jpg?oh=a666b4881c68df4f571855f8c124ecfb&oe=5A82A732" alt="Puta vida meu" style="width:1000px;height:500px;">
<style>
p {
    border: 1px black;
    margin: 500px;
}
</style>
</head>
<body>

<h1>Big letters and very black letters</h1>

<p style="color:MediumSeaGreen">Cool text in the middle of the page</p>
<p style="color:Violet">maybe it's on the middle of the page</p>
<p style="color:MidnightBlue ">fuck, i barely know what i am doing in this shit</p>
<hr>
<%= link_to 'About', about_path %>
<%= link_to "Home", root_path %>
</body>
</html>
