<div class="container">
  <footer class="footer">
    <small>
      <p style="color:#606060;">
      Copyright &copy; <a href="https://www.youtube.com/watch?v=6Joyj0dmkug"> SAIYAJIN</a>
      by <a href="https://youtu.be/_RgOtMc4VG0?t=3s"> GRANDE NAPPAAAAAAAAAAAAAAAAAAAA</a> </p>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
